Repository cawa-93/play-shikimori-online: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install_dependencies, build-chrome, build-firefox, deploy-chrome, deploy-firefox

.gitlab-ci.yml:

image: node:latest



cache:
  key: node_modules
  paths:
    - node_modules
  policy: pull



stages:
  - setup
  - build
  - deploy



install_dependencies:
  stage: setup
  variables:
    GIT_STRATEGY: fetch
  script:
    - npm install
  cache:
    key: node_modules
    paths:
      - node_modules/
  only:
    changes:
      - package.json
      - package-lock.json



build-chrome:
  stage: build
  variables:
    GIT_STRATEGY: fetch
    NODE_ENV: "production"
    BROWSER: "chrome"
  script:
    - npm run build
  artifacts:
    paths:
    - dist/chrome
  except:
    changes:
      - "*.md"



build-firefox:
  stage: build
  variables:
    GIT_STRATEGY: fetch
    NODE_ENV: "production"
    BROWSER: "firefox"
  script:
    - npm run build
  artifacts:
    paths:
    - dist/firefox
  except:
    changes:
      - "*.md"



deploy-chrome:
  stage: deploy
  variables:
    GIT_STRATEGY: fetch
    NODE_ENV: "production"
    BROWSER: "chrome"
  script:
    - node deploy/chrome.js
  only:
    refs:
      - master
  except:
    changes:
      - "*.md"
  when: manual
  artifacts:
    paths:
    - chrome.zip



deploy-firefox:
  stage: deploy
  variables:
    GIT_STRATEGY: fetch
    NODE_ENV: "production"
    BROWSER: "firefox"
  script:
    - node deploy/firefox.js
  only:
    refs:
      - master
  except:
    changes:
      - "*.md"
  when: manual
  artifacts:
    paths:
    - firefox.zip

Тест подписи
  .github/workflows/lint-build-test.yml
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Тест подписи
  vue.config.js
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Тест подписи
  package.json
  vue.config.js
Due: install_dependencies, build-chrome, build-firefox, deploy-chrome, deploy-firefox

Тест подписи
  package.json
Due: install_dependencies, build-chrome, build-firefox, deploy-chrome, deploy-firefox

Проба цифровой подписи
  .github/workflows/lint-build-test.yml
  package.json
  vue.config.js
Due: install_dependencies, build-chrome, build-firefox, deploy-chrome, deploy-firefox

Проба подписи
  .github/workflows/lint-build-test.yml
  package.json
Due: install_dependencies, build-chrome, build-firefox, deploy-chrome, deploy-firefox

Изменены версии зависимых экшенов
  .github/workflows/compile-app.yml
  .github/workflows/lint-build-test.yml
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Исправления
  package.json
  src/components/AppHeader.vue
Due: install_dependencies, build-chrome, build-firefox, deploy-chrome, deploy-firefox

Отключен автозапуск видео в режиме разработки
  src/components/VideoPlayer.vue
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Изменен порядок переводов
  src/components/TranslationsList.vue
  src/store/modules/translations.ts
  src/views/Player.vue
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Длинное название аниме в списке серий обрезается
  src/components/EpisodesList.vue
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Добавлена поддержка субритров
  src/components/TranslationsList.vue
  src/components/VideoPlayer.vue
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Исправлен поиск по ссылке
  src/components/SearchField.vue
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Предзагрузка серий при наведении курсора на постер аниме
  src/components/Anime.vue
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Подключено авто-обновление
  package-lock.json
  package.json
  src/background.ts
  vue.config.js
Due: install_dependencies, build-chrome, build-firefox, deploy-chrome, deploy-firefox

Изменена версия
  package.json
Due: install_dependencies, build-chrome, build-firefox, deploy-chrome, deploy-firefox

Изменения в настройке сборки
  .github/workflows/compile-app.yml
  .github/workflows/lint-build-test.yml
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Попытка обойти проблему подписи для macOS
  .github/workflows/lint-build-test.yml
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Исправлен конфиг
  .github/workflows/lint-build-test.yml
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Изменено расширение
  .github/workflows/lint-build-test.yml
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Изменены параметры
  .github/workflows/lint-build-test.yml
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Раздельный конфиг
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Исправлены параметры
  .github/workflows/pull-request.yml
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Публикация релиизов onTagOrDraft
  .github/workflows/push.yml
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Установка плагина @vue/pwa
  package-lock.json
  package.json
  src/background.ts
  src/main.ts
  vue.config.js
Due: install_dependencies, build-chrome, build-firefox, deploy-chrome, deploy-firefox

Регистрация ServiceWorker
  src/registerServiceWorker.ts
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Компонент Player-view теперь находится в основном бандле а не в отдельном
  src/background.ts
  src/router/index.ts
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Исправлен README.md
  README.md
  promo/Головний екран.png
  promo/Коментарі.png
  promo/Переклади.png
  promo/Серії.png
Due: none

Рефакторинг
  package.json
  src/App.vue
  src/background.ts
  vue.config.js
Due: install_dependencies, build-chrome, build-firefox, deploy-chrome, deploy-firefox

Увеличена скорость загрузки популярных аниме сезона
  src/ApiClasses/Anime365Client.ts
  src/components/AnimeSlider.vue
  src/store/modules/series.ts
  src/types/anime365.d.ts
  src/views/History.vue
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Динамическая загрузка маршрутов
  src/router/index.ts
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Исправлена работа линтера
  package-lock.json
  package.json
Due: install_dependencies, build-chrome, build-firefox, deploy-chrome, deploy-firefox

Отключена предзагрузка модулей
  vue.config.js
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Изменен процесс тестирования коммитов
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Fix pipeline
  .github/workflows/push.yml
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Изменено название робочего потока
  .github/workflows/push.yml
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Линтер вынесен в отдельный робочий поток
  .github/workflows/lint.yml
  .github/workflows/push.yml
  .github/workflows/test.yml
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Линтер вынесен в отдельный робочий поток
  .github/workflows/test.yml
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Класс для заголовков
  src/classes/Titles.ts
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox
