Repository cawa-93/play-shikimori-online: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install_dependencies, build-chrome, build-firefox, deploy-chrome, deploy-firefox

.gitlab-ci.yml:

image: node:latest



cache:
  key: node_modules
  paths:
    - node_modules
  policy: pull



stages:
  - setup
  - build
  - deploy



install_dependencies:
  stage: setup
  variables:
    GIT_STRATEGY: fetch
  script:
    - npm install
  cache:
    key: node_modules
    paths:
      - node_modules/
  only:
    changes:
      - package.json
      - package-lock.json



build-chrome:
  stage: build
  variables:
    GIT_STRATEGY: fetch
    NODE_ENV: "production"
    BROWSER: "chrome"
  script:
    - npm run build
  artifacts:
    paths:
    - dist/chrome
  except:
    changes:
      - "*.md"



build-firefox:
  stage: build
  variables:
    GIT_STRATEGY: fetch
    NODE_ENV: "production"
    BROWSER: "firefox"
  script:
    - npm run build
  artifacts:
    paths:
    - dist/firefox
  except:
    changes:
      - "*.md"



deploy-chrome:
  stage: deploy
  variables:
    GIT_STRATEGY: fetch
    NODE_ENV: "production"
    BROWSER: "chrome"
  script:
    - node deploy/chrome.js
  only:
    refs:
      - master
  except:
    changes:
      - "*.md"
  when: manual
  artifacts:
    paths:
    - chrome.zip



deploy-firefox:
  stage: deploy
  variables:
    GIT_STRATEGY: fetch
    NODE_ENV: "production"
    BROWSER: "firefox"
  script:
    - node deploy/firefox.js
  only:
    refs:
      - master
  except:
    changes:
      - "*.md"
  when: manual
  artifacts:
    paths:
    - firefox.zip

Обновлены зависимости
  package-lock.json
  package.json
Due: install_dependencies, build-chrome, build-firefox, deploy-chrome, deploy-firefox

Исправлена верстка кнопок в меню
  src/UI/components/controls/index.vue
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Удален лишний компонент в меню
  src/UI/components/controls/download.vue
  src/UI/components/controls/index.vue
  src/UI/components/controls/next.vue
  src/UI/components/controls/open-on-shikimori.vue
  src/UI/components/controls/preference.vue
  src/UI/components/controls/previous.vue
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Исправлена ранняя вставка скрипта в плеер
  src/content-scripts/inject-content-scripts.ts
  src/helpers/injectScript.ts
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Исправления верстки
  src/UI/components/controls/index.vue
  src/UI/components/episode-list.vue
  src/UI/components/translation-list.vue
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Восстановлен переход к следующему сезону
  src/UI/components/controls/next.vue
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Исправлена верстка списка комментариев
  src/UI/components/comments-feed/index.vue
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Увеличена производительность страници с историей просмотров
  src/UI/views/FooterView.vue
  src/UI/views/History.vue
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Более ранняя загрузка комментариев
  src/UI/components/comments-feed/index.vue
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Исправлена ошибка слишком ранней инициализации скрипта в плеере
  src/content-scripts/anime365-player-events.ts
  src/helpers/injectScript.ts
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Добавлена анимеция загрузки постера на странице истории
  src/UI/views/History.vue
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Если пользователь не авторизован — отображается красная иконка на кнопке настроек
  src/UI/components/controls/preference.vue
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Изменения
  CHANGELOG.md
Due: none

Версия
  package-lock.json
  package.json
Due: install_dependencies, build-chrome, build-firefox, deploy-chrome, deploy-firefox

Исправлена опечатка
  CHANGELOG.md
Due: none

Исправлены стили для фрейма
  src/UI/components/player.vue
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Добавлена задержка между загрузкой окна и запуском скриптов
  src/content-scripts/anime365-player-events.ts
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Увеличена минимальная высота плеера
  src/UI/components/player.vue
  src/UI/views/Player.vue
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Добавлена ссылка на дорожную карту
  README.md
Due: none

Изменена ссылка на инструкцию по установке
  README.md
Due: none

Изменены бейджи
  README.md
Due: none

Добавлен индикатор Full-HD видео
  src/UI/components/translation-list.vue
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Исправлена анимация перехода между страницами
  src/UI/views/FooterView.vue
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Vuetify обновлен до версии 2.1
  package-lock.json
  package.json
Due: install_dependencies, build-chrome, build-firefox, deploy-chrome, deploy-firefox

Новые елементы загрузки
  src/UI/App.vue
  src/UI/components/episode-list.vue
  src/UI/components/player.vue
  src/UI/components/translation-list.vue
  src/UI/mixins/boilerplate.ts
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Удален общий кэш
  src/background/install-update-events.ts
  src/helpers/API/Anime365Provider.ts
  src/helpers/API/MyAnimeListProvider.ts
  src/helpers/API/RequestProvider.ts
  src/helpers/API/ShikimoriProvider.ts
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Добавлен индикатор загрузки для всех компонентов
  src/UI/App.vue
  src/UI/components/comments-feed/index.vue
  src/UI/components/controls/download.vue
  src/UI/components/controls/index.vue
  src/UI/components/controls/next.vue
  src/UI/components/controls/open-on-shikimori.vue
  src/UI/components/controls/preference.vue
  src/UI/components/controls/previous.vue
  src/UI/components/episode-list.vue
  src/UI/components/player.vue
  src/UI/components/translation-list.vue
  src/UI/views/Player.vue
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Загрузка основных компонентов на странице просмотра
  src/UI/components/controls/download.vue
  src/UI/components/controls/index.vue
  src/UI/components/controls/next.vue
  src/UI/components/controls/open-on-shikimori.vue
  src/UI/components/controls/preference.vue
  src/UI/components/controls/previous.vue
  src/UI/components/episode-list.vue
  src/UI/components/player.vue
  src/UI/components/translation-list.vue
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Ленивая загрузка комментариев
  src/UI/components/comments-feed/comment.vue
  src/UI/components/comments-feed/index.vue
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Отключен деплой в Chrome Store
  .travis.yml
  deploy/chrome.js
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Добавлен индикатор версии в body[class]
  src/UI/index.html
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Список изменений
  CHANGELOG.md
Due: none

Исправлено отображение кнопки настроек
  src/UI/components/controls/preference.vue
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Исправлен логотип Шикимори
  src/UI/components/controls/open-on-shikimori.vue
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Исправлен Отображение сетки в истории просмотров
  src/UI/views/History.vue
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Изменен основной домен anime365
  src/UI/components/app-footer.vue
  src/UI/components/episode-list.vue
  src/UI/components/main-menu.vue
  src/UI/components/translation-list.vue
  src/UI/index.html
  src/background/request-provider.ts
  src/content-scripts/shikimori-watch-button.ts
  src/helpers/API/Anime365Provider.ts
  src/manifest.js
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox
