Repository cawa-93/play-shikimori-online: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install_dependencies, build-chrome, build-firefox, deploy-chrome, deploy-firefox

.gitlab-ci.yml:

image: node:latest



cache:
  key: node_modules
  paths:
    - node_modules
  policy: pull



stages:
  - setup
  - build
  - deploy



install_dependencies:
  stage: setup
  variables:
    GIT_STRATEGY: fetch
  script:
    - npm install
  cache:
    key: node_modules
    paths:
      - node_modules/
  only:
    changes:
      - package.json
      - package-lock.json



build-chrome:
  stage: build
  variables:
    GIT_STRATEGY: fetch
    NODE_ENV: "production"
    BROWSER: "chrome"
  script:
    - npm run build
  artifacts:
    paths:
    - dist/chrome
  except:
    changes:
      - "*.md"



build-firefox:
  stage: build
  variables:
    GIT_STRATEGY: fetch
    NODE_ENV: "production"
    BROWSER: "firefox"
  script:
    - npm run build
  artifacts:
    paths:
    - dist/firefox
  except:
    changes:
      - "*.md"



deploy-chrome:
  stage: deploy
  variables:
    GIT_STRATEGY: fetch
    NODE_ENV: "production"
    BROWSER: "chrome"
  script:
    - node deploy/chrome.js
  only:
    refs:
      - master
  except:
    changes:
      - "*.md"
  when: manual
  artifacts:
    paths:
    - chrome.zip



deploy-firefox:
  stage: deploy
  variables:
    GIT_STRATEGY: fetch
    NODE_ENV: "production"
    BROWSER: "firefox"
  script:
    - node deploy/firefox.js
  only:
    refs:
      - master
  except:
    changes:
      - "*.md"
  when: manual
  artifacts:
    paths:
    - firefox.zip

Черновик структур данных
  src/classes/Anime365Item.ts
  src/classes/Authors.ts
  src/classes/Episode.ts
  src/classes/Series.ts
  src/classes/Translation.ts
  src/store/modules/series.ts
  src/types/anime365.d.ts
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Интерфейсы отделены от конкретных классов
  src/classes/Anime365Item.ts
  src/classes/Episode.ts
  src/classes/Series.ts
  src/classes/Titles.ts
  src/classes/Translation.ts
  src/interfaces/Author.ts
  src/interfaces/Episode.ts
  src/interfaces/Series.ts
  src/interfaces/Title.ts
  src/interfaces/Translation.ts
  src/interfaces/anime356API.d.ts
  tslint.json
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Написана фабрика для создания обектов Authors
  src/classes/AuthorFactory.ts
  src/classes/Authors.ts
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Написана фабрика для загрузки аниме
  src/classes/Anime365Series.ts
  src/classes/Anime365SeriesLoader.ts
  src/classes/SeriesChainBase.ts
  src/classes/SeriesChainInMemoryCache.ts
  src/classes/SeriesFactory.ts
  src/interfaces/SeriesLoader.ts
  src/interfaces/anime356API.d.ts
  src/utils/typeGuards.ts
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Обновлены зависимости
  package-lock.json
  package.json
Due: install_dependencies, build-chrome, build-firefox, deploy-chrome, deploy-firefox

Прототип интерфейса для работы с внешним API
  src/ApiClasses/Anime365Client.ts
  src/ApiClasses/ApiClass.ts
  src/classes/SmAbstractFactory.ts
  src/classes/SmAnime.ts
  src/classes/SmAnimeFactory.ts
  src/classes/SmApiClient.ts
  src/classes/SmEpisode.ts
  src/classes/SmEpisodeFactory.ts
  src/classes/SmTranslation.ts
  src/classes/SmTranslationFactory.ts
  src/interfaces/Anime.ts
  src/interfaces/AnimeFactory.ts
  src/interfaces/Episode.ts
  src/interfaces/EpisodeFactory.ts
  src/interfaces/Translation.ts
  src/interfaces/TranslationFactory.ts
  src/interfaces/smotret-anime-api.ts
  tsconfig.json
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Удалены все способы отслеживания
  package-lock.json
  package.json
  src/UI/index.html
  src/UI/main.ts
  src/UI/tagmanager.js
  src/helpers/get-review-url.ts
  src/manifest.js
Due: install_dependencies, build-chrome, build-firefox, deploy-chrome, deploy-firefox

Удален бейдж аналитики
  README.md
Due: none

Update README.md
  README.md
Due: none

Отключена сборка для Chrome
  .travis.yml
  package.json
  vue.config.js
Due: install_dependencies, build-chrome, build-firefox, deploy-chrome, deploy-firefox

Добавлено сообщение с ссылкой на приложение
  src/UI/index.html
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Изменена версия
  package.json
Due: install_dependencies, build-chrome, build-firefox, deploy-chrome, deploy-firefox

Добавлено сообщение о приложении в README.md
  README.md
Due: none

app button
  src/content-scripts/shikimori-watch-button.ts
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox
