Repository cawa-93/play-shikimori-online: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install_dependencies, build-chrome, build-firefox, deploy-chrome, deploy-firefox

install_dependencies:
  stage: setup
  variables:
    GIT_STRATEGY: fetch
  script:
  - npm install
  cache:
    key: node_modules
    paths:
    - node_modules/

build-chrome:
  stage: build
  variables:
    GIT_STRATEGY: fetch
    NODE_ENV: production
    BROWSER: chrome
  script:
  - npm run build
  artifacts:
    paths:
    - dist/chrome

build-firefox:
  stage: build
  variables:
    GIT_STRATEGY: fetch
    NODE_ENV: production
    BROWSER: firefox
  script:
  - npm run build
  artifacts:
    paths:
    - dist/firefox

deploy-chrome:
  stage: deploy
  variables:
    GIT_STRATEGY: fetch
    NODE_ENV: production
    BROWSER: chrome
  script:
  - node deploy/chrome.js
  when: manual
  artifacts:
    paths:
    - chrome.zip

deploy-firefox:
  stage: deploy
  variables:
    GIT_STRATEGY: fetch
    NODE_ENV: production
    BROWSER: firefox
  script:
  - node deploy/firefox.js
  when: manual
  artifacts:
    paths:
    - firefox.zip

Добавлен бейдж с числом пользователей
  README.md
Due: none

Изменены ссылки в бейджах
  README.md
Due: none

Удален скелетон для списка серий
  src/UI/components/episode-list.vue
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Удален скелетон для списка переводов
  src/UI/components/translation-list.vue
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Удален скелетон для кнопки Скачать
  src/UI/components/controls/download.vue
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Удален скелетон для кнопки "Следующая серия"
  src/UI/components/controls/next.vue
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Удален скелетон для кнопки "Открыть Шикимори"
  src/UI/components/controls/open-on-shikimori.vue
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Удален скелетон для кнопки "Настройки"
  src/UI/components/controls/preference.vue
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Удален скелетон для кнопки "Предыдущая серия"
  src/UI/components/controls/previous.vue
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Обновлен vuetify
  package-lock.json
  package.json
Due: install_dependencies, build-chrome, build-firefox, deploy-chrome, deploy-firefox

Изменены зависимости
  package-lock.json
  package.json
Due: install_dependencies, build-chrome, build-firefox, deploy-chrome, deploy-firefox

Удален Sentry
  .travis.yml
  package-lock.json
  package.json
  src/UI/main.ts
  src/background/background.ts
  src/helpers/errors/AppError.class.ts
Due: install_dependencies, build-chrome, build-firefox, deploy-chrome, deploy-firefox

Версия
  package-lock.json
  package.json
Due: install_dependencies, build-chrome, build-firefox, deploy-chrome, deploy-firefox

Изменения
  CHANGELOG.md
Due: none

Axios плагин для Шикимори
  .gitignore
  package-lock.json
  package.json
  src/plugins/shikimori.axios.ts
Due: install_dependencies, build-chrome, build-firefox, deploy-chrome, deploy-firefox

Исключен /dist_electron
  dist_electron/index.js
  dist_electron/package.json
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Обновлены зависимости
  package-lock.json
  package.json
  src/UI/store/shikimori/index.ts
Due: install_dependencies, build-chrome, build-firefox, deploy-chrome, deploy-firefox

Версиия
  package-lock.json
  package.json
Due: install_dependencies, build-chrome, build-firefox, deploy-chrome, deploy-firefox

Github Actions
  .github/workflow/electron.yml
  .travis.yml
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Actions test
  .github/workflows/electron.yml
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Electron test build
  .github/workflows/electron.yml
  .travis.yml
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Update electron.yml
  .github/workflows/electron.yml
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

electron:build
  .github/workflows/electron.yml
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Update README.md
  README.md
Due: none

Axios модуль для anime365
  src/plugins/anime356.ts
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Обновлен nodejs
  .github/workflows/electron.yml
  package.json
Due: install_dependencies, build-chrome, build-firefox, deploy-chrome, deploy-firefox

Vuex series module
  src/store/index.ts
  src/store/series.ts
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Vuex episodes module
  src/store/episodes.ts
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Рефакторинг vuex-модулей для загрузки серий и переводов
  src/plugins/anime365.ts
  src/store/episodes.ts
  src/store/modules/episodes.ts
  src/store/modules/series.ts
  src/store/modules/translations.ts
  src/store/series.ts
  src/types/anime365.d.ts
  src/types/shims-tsx.d.ts
  src/types/shims-vue.d.ts
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Изменены команды в README.md
  README.md
Due: none

Обновлены зависимости
  package-lock.json
  package.json
Due: install_dependencies, build-chrome, build-firefox, deploy-chrome, deploy-firefox

Базовая шапка
  src/components/AppHeader.vue
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Сервис для загрузки информации о сериалах
  src/plugins/anime365.ts
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Некоторые функции api клиента вынесены в базовый класс
  src/ApiClasses/Anime365Client.ts
  src/ApiClasses/ApiClass.ts
  src/plugins/anime365.ts
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Доработана структура хранилища vuex
  package-lock.json
  package.json
  src/store/modules/episodes.ts
  src/store/modules/series.ts
  src/store/modules/translations.ts
  src/types/anime365.d.ts
Due: install_dependencies, build-chrome, build-firefox, deploy-chrome, deploy-firefox

Базовый интерфейс
  src/App.vue
  src/background.ts
  src/components/Anime.vue
  src/components/AnimeSlider.vue
  src/components/AppHeader.vue
  src/components/EpisodesList.vue
  src/components/HelloWorld.vue
  src/components/TranslationsList.vue
  src/components/VideoPlayer.vue
  src/main.ts
  src/router/index.ts
  src/views/History.vue
  src/views/Player.vue
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Визуальный индикатор загрузки списка серий и переводов
  src/components/EpisodesList.vue
  src/components/TranslationsList.vue
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Path conditions:
  install_dependencies: any of: package.json, package-lock.json
  build-chrome: not (any of: *.md)
  build-firefox: not (any of: *.md)
  deploy-chrome: not (any of: *.md)
  deploy-firefox: not (any of: *.md)
