Repository cawa-93/play-shikimori-online: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install_dependencies, build-chrome, build-firefox, deploy-chrome, deploy-firefox

.gitlab-ci.yml:

image: node:latest



cache:
  key: node_modules
  paths:
    - node_modules
  policy: pull



stages:
  - setup
  - build
  - deploy



install_dependencies:
  stage: setup
  variables:
    GIT_STRATEGY: fetch
  script:
    - npm install
  cache:
    key: node_modules
    paths:
      - node_modules/
  only:
    changes:
      - package.json
      - package-lock.json



build-chrome:
  stage: build
  variables:
    GIT_STRATEGY: fetch
    NODE_ENV: "production"
    BROWSER: "chrome"
  script:
    - npm run build
  artifacts:
    paths:
    - dist/chrome
  except:
    changes:
      - "*.md"



build-firefox:
  stage: build
  variables:
    GIT_STRATEGY: fetch
    NODE_ENV: "production"
    BROWSER: "firefox"
  script:
    - npm run build
  artifacts:
    paths:
    - dist/firefox
  except:
    changes:
      - "*.md"



deploy-chrome:
  stage: deploy
  variables:
    GIT_STRATEGY: fetch
    NODE_ENV: "production"
    BROWSER: "chrome"
  script:
    - node deploy/chrome.js
  only:
    refs:
      - master
  except:
    changes:
      - "*.md"
  when: manual
  artifacts:
    paths:
    - chrome.zip



deploy-firefox:
  stage: deploy
  variables:
    GIT_STRATEGY: fetch
    NODE_ENV: "production"
    BROWSER: "firefox"
  script:
    - node deploy/firefox.js
  only:
    refs:
      - master
  except:
    changes:
      - "*.md"
  when: manual
  artifacts:
    paths:
    - firefox.zip

Из публикуемых архивов исключены *.map файлы
  deploy/chrome.js
  deploy/firefox.js
  deploy/zipFolder.js
  package-lock.json
  package.json
Due: install_dependencies, build-chrome, build-firefox, deploy-chrome, deploy-firefox

Удалена устаревшая функция chrome.tabs.getSelected()
  src/helpers/oauth-provider.js
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Чекбокс для отметки серии не отображается если пользователь не авторизован
  src/UI/components/episode-list.vue
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Версия
  package-lock.json
  package.json
Due: install_dependencies, build-chrome, build-firefox, deploy-chrome, deploy-firefox

HOTFIX: runtimeMessage.link
  src/background/background.js
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Исправлена ошибка загрузки сообщений когда Шикимори не доступен
  src/background/background.js
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Fix Sentry deploy
  .travis.yml
  deploy/sentry.sh
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Прерывание процесса поиска уведомлений при любой ошибке
  src/background/background.js
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Запрос на предоставление доступов к сайтам
  build/generate_manifest.js
  src/background/background.js
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Обновлены зависимости
  package-lock.json
  package.json
Due: install_dependencies, build-chrome, build-firefox, deploy-chrome, deploy-firefox

Заменены изображения в README.md
  README.md
  promo/comments.png
  promo/episodes.png
  promo/main.png
  promo/player.png
  promo/translations.png
  promo/watch-button.png
Due: none

Дополнительная сверка типа перевода
  src/helpers/get-translation-priority.js
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Не загруженный перевод не приводит к исключению
  src/content-scripts/anime365-player-events.js
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Исправлено отображение даты в комментариях
  src/UI/components/comments.vue
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Исправлена ошибка фильтрации серий для не найденного аниме
  src/content-scripts/watch-button.js
  src/helpers/filter-episodes.js
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Исправлена прокрутка к комментариям если их нет
  src/UI/components/comments.vue
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Заблокировано отображение комментариев на промежуточных сериях
  src/UI/components/comments.vue
  src/helpers/shikimori-api.js
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Обновлен vuetify
  package-lock.json
  package.json
Due: install_dependencies, build-chrome, build-firefox, deploy-chrome, deploy-firefox

Обновлена @mdi/font
  package-lock.json
  package.json
Due: install_dependencies, build-chrome, build-firefox, deploy-chrome, deploy-firefox

Fix Setry Deployment
  deploy/sentry.sh
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Добавлены уведомления об ошибке доступа к сайту
  src/UI/components/comments.vue
  src/UI/store/modules/player/actions.js
  src/UI/store/modules/shikimori/actions.js
  src/content-scripts/watch-button.js
  src/helpers/runtime-messages.js
  src/helpers/shikimori-api.js
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Рефакторинг условий
  src/UI/components/translation-list.vue
  src/UI/pages/history.vue
  src/UI/store/modules/player/actions.js
  src/UI/store/modules/shikimori/actions.js
  src/content-scripts/anime365-player-events.js
  src/helpers/get-translation-priority.js
  src/helpers/runtime-messages.js
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Удален обработчик режика Картинка в картинке
  src/content-scripts/anime365-player-events.js
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Исправлена загрузка уведомлений если пользователь не дал разрешения
  src/background/background.js
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Уведомления проверяються раз в 15 минут
  src/background/background.js
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Fix Sentry deployment
  deploy/sentry.sh
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Исправлена ошибка при загрузке уведомлений
  src/background/background.js
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Изменены ссылки на домашнюю страницу
  build/generate_manifest.js
  src/UI/components/app-footer.vue
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Изменено название
  src/_locales/ru/messages.json
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Изменен способ уведомления об обновлениях
  src/background/background.js
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

changelog файл
  CHANGELOG.md
Due: none

Изменен текст под кнопкой
  src/content-scripts/watch-button.js
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox
