Repository cawa-93/play-shikimori-online: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install_dependencies, build-chrome, build-firefox, deploy-chrome, deploy-firefox

install_dependencies:
  stage: setup
  variables:
    GIT_STRATEGY: fetch
  script:
  - npm install
  cache:
    key: node_modules
    paths:
    - node_modules/

build-chrome:
  stage: build
  variables:
    GIT_STRATEGY: fetch
    NODE_ENV: production
    BROWSER: chrome
  script:
  - npm run build
  artifacts:
    paths:
    - dist/chrome

build-firefox:
  stage: build
  variables:
    GIT_STRATEGY: fetch
    NODE_ENV: production
    BROWSER: firefox
  script:
  - npm run build
  artifacts:
    paths:
    - dist/firefox

deploy-chrome:
  stage: deploy
  variables:
    GIT_STRATEGY: fetch
    NODE_ENV: production
    BROWSER: chrome
  script:
  - node deploy/chrome.js
  when: manual
  artifacts:
    paths:
    - chrome.zip

deploy-firefox:
  stage: deploy
  variables:
    GIT_STRATEGY: fetch
    NODE_ENV: production
    BROWSER: firefox
  script:
  - node deploy/firefox.js
  when: manual
  artifacts:
    paths:
    - firefox.zip

Lint
  package.json
  src/UI/components/clear-btn.vue
  src/UI/components/comments.vue
  src/UI/components/messages.vue
  src/UI/components/player.vue
  src/UI/components/translation-list.vue
  src/UI/store/index.ts
  src/UI/views/Player.vue
  src/content-scripts/anime365-player-events.ts
  vue.config.js
Due: install_dependencies, build-chrome, build-firefox, deploy-chrome, deploy-firefox

Включена отладка производительности
  src/UI/main.ts
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Форматирование
  src/manifest.js
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Исправлены команды
  .travis.yml
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

New comment field
  src/UI/components/comments.vue
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Реструктуризация хранилища
  .travis.yml
  src/UI/components/comments.vue
  src/UI/components/episode-list.vue
  src/UI/components/main-menu.vue
  src/UI/components/player.vue
  src/UI/components/translation-list.vue
  src/UI/components/video-controls.vue
  src/UI/store/index.ts
  src/UI/store/player/index.ts
  src/UI/store/profile/index.ts
  src/UI/store/shikimori/index.ts
  src/UI/views/History.vue
  src/UI/views/Player.vue
  vue.config.js
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Внешний вид собщений о бане
  src/UI/components/comments.vue
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Добавлена тень на вложения в комментариях
  src/UI/components/comments.vue
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Добавлена возможность отвечать на комментарии
  src/UI/components/comments.vue
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Увеличена область плеера
  src/UI/App.vue
  src/UI/components/comments.vue
  src/UI/views/Player.vue
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Увеличена высота выпадающих списков
  src/UI/components/episode-list.vue
  src/UI/components/translation-list.vue
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Иструктуризация импортов
  src/UI/components/clear-btn.vue
  src/UI/components/comments.vue
  src/UI/components/messages.vue
  src/UI/components/player.vue
  src/UI/index.html
  src/UI/main.ts
  src/UI/store/index.ts
  src/UI/store/player/index.ts
  src/UI/store/profile/index.ts
  src/UI/tagmanager.js
  src/UI/views/History.vue
  src/UI/views/Player.vue
  src/background/install-update-events.ts
  src/background/loadBroadcast.ts
  src/background/loadRuntimeMessages.ts
  src/background/setBadgeMessageCount.ts
  src/content-scripts/shikimori-watch-button.ts
  src/helpers/clear-string.ts
  src/helpers/index.ts
  src/manifest.js
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Восстановлена работа уведомлений
  src/UI/App.vue
  src/UI/components/messages.vue
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Изменены ссылки на домашнюю страницу
  src/UI/components/main-menu.vue
  src/background/install-update-events.ts
  src/content-scripts/shikimori-watch-button.ts
  src/manifest.js
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

CSS вынесен в отдельные файлы
  vue.config.js
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Отслеживание ошибок
  package-lock.json
  package.json
  src/UI/components/app-footer.vue
  src/UI/components/comments.vue
  src/UI/components/messages.vue
  src/UI/components/player.vue
  src/UI/main.ts
  src/UI/store/index.ts
  src/UI/store/player/index.ts
  src/UI/store/shikimori/index.ts
  src/background/background.ts
  src/background/loadRuntimeMessages.ts
  src/background/request-provider.ts
  src/content-scripts/anime365-player-events.ts
  src/content-scripts/shikimori-watch-button.ts
  src/helpers/API/BackgroundRequestProvider.ts
  src/helpers/API/RequestProvider.ts
  src/helpers/errors/AppError.class.ts
  src/helpers/errors/PermissionError.class.ts
Due: install_dependencies, build-chrome, build-firefox, deploy-chrome, deploy-firefox

Временно отключено тестирование
  .travis.yml
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

sentry-cli установлен как зависимость
  package-lock.json
  package.json
Due: install_dependencies, build-chrome, build-firefox, deploy-chrome, deploy-firefox

Описание релиза
  CHANGELOG.md
Due: none

Исправлено название и окружение для отслеживания ошибок
  deploy/sentry.sh
  src/UI/main.ts
  src/background/background.ts
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

FIX: Передача информации про DOMException
  src/background/request-provider.ts
  src/helpers/API/BackgroundRequestProvider.ts
  src/helpers/errors/AppError.class.ts
  types/AppErrorSchema.d.ts
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

FIX: SecurityError на Firefox при попытке открыть кэш
  src/helpers/API/RequestProvider.ts
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Fix deploy
  .gitignore
  deploy/chrome.js
  deploy/firefox.js
  package-lock.json
  package.json
Due: install_dependencies, build-chrome, build-firefox, deploy-chrome, deploy-firefox

Fix Promo
  promo/Головний екран.png
  promo/Коментарі.png
  promo/Переклади.png
  promo/Серії.png
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Fix README
  README.md
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/-------------------.md
  .github/ISSUE_TEMPLATE/-----------.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Rename -----------.md to Предложения.md
  .github/ISSUE_TEMPLATE/Предложения.md
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Delete -------------------.md
  .github/ISSUE_TEMPLATE/-------------------.md
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Обновлены зависимости
  package-lock.json
  package.json
Due: install_dependencies, build-chrome, build-firefox, deploy-chrome, deploy-firefox

Rename Предложения.md to request.md
  .github/ISSUE_TEMPLATE/request.md
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Включен Source Map для продакшена
  vue.config.js
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Fix Sentry Deploy
  .travis.yml
  deploy/sentry.sh
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Валидация формы комментария и проверка текста на матерные слова
  src/UI/components/comment-form.vue
  src/UI/components/comments.vue
  src/helpers/abusiveWords.ts
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Изменен текст сообщения об ошибке
  src/content-scripts/shikimori-watch-button.ts
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Добавлены aria-label аттрибуты на кнопки с иконками
  src/UI/components/app-footer.vue
  src/UI/components/clear-btn.vue
  src/UI/components/comments.vue
  src/UI/components/main-menu.vue
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Добавлены комментарии с пометкой потенциальных проблем
  src/UI/components/translation-list.vue
  src/helpers/API/RequestProvider.ts
Due: build-chrome, build-firefox, deploy-chrome, deploy-firefox

Версия
  package-lock.json
  package.json
Due: install_dependencies, build-chrome, build-firefox, deploy-chrome, deploy-firefox

CHANGELOG
  CHANGELOG.md
Due: none

Path conditions:
  install_dependencies: any of: package.json, package-lock.json
  build-chrome: not (any of: *.md)
  build-firefox: not (any of: *.md)
  deploy-chrome: not (any of: *.md)
  deploy-firefox: not (any of: *.md)
